<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.css"/>
    <link rel="stylesheet" href="/public/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <script type = "application/javascript" src="/public/js/jquery-3.6.1.min.js"></script>
    <script type = "application/javascript" src="/public/js/bootstrap.min.js"></script>
</head>
<body style="background-color: thistle; ">
    <nav class = "navbar navbar-expand-lg navbar-light bg-light" role = "navigation" style="display: flex; align-items: center; justify-content: center;">
        <a class = "navbar-brand" href = "/" > Product Search Screen </a>
    </nav>
    <%- body  %> 
</body>
</html>


